.tabs {
  display: block;
}

.tab {
  display: inline-block;
  font-size: 12px;
  line-height: 1.6em;
  padding: 10px 12px;

  &:hover {
    background-color: #333;
    cursor: pointer;
  }
}

.selected {
  background-color: #333;
}

.tabPanel {
  background-color: #333;
  height: calc(
    100vh
    - 10px * 2
    - 12px * 1.6
    - 12px * 2
  );
  padding: 12px
}
