.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 3rem;
  padding: 25px;
}

.tasksContainer {
  display: grid;
  grid-template-rows: repeat(1fr, 2);
  row-gap: 1rem
}

.taskBox {
  background-color: white;
  padding: 25px 20px;
  border-radius: 5px;
}

.queuedTasksContainer {
  background-color: white;
  padding: 25px 20px;
  border-radius: 5px;
}